name: Lifetime Activities

on:
  workflow_dispatch:
  schedule:
    #           ↓↓ 19 UTC is "11 am Pacific", but during daylight savings we need 18 UTC to be "11 am Pacific" (we'll schedule both and test `$GITHUB_EVENT_NAME` via `time_zone_checker` before running, below)
    #                  ↓ run on Mondays to book the next Tuesday
    - cron: '51 18 * * 1'
    - cron: '51 19 * * 1'
    # Leave 9 minutes just in case `actions/checkout@v5` has some kind of delay or `i7-10810U_chatreey/dev-github/reinstall_playwright.sh` takes longer than expected.

jobs:
  time_zone_checker:
    runs-on: ubuntu-latest
    outputs:
      localtime_current_hourstr: ${{ steps.pacifictime_reader.outputs.localtime_hr }}
    steps:
      - name: Check local time
        id: pacifictime_reader
        # Verify daylight savings
        run: |
          case "${GITHUB_EVENT_NAME}" in
          schedule)
            echo "localtime_hr=$(TZ='America/Los_Angeles' date +'%H')" >> "$GITHUB_OUTPUT"
          ;;
          workflow_dispatch)
            echo 'All good. You triggered manually via the web, so `pickleball_go` below will proceed regardless of time zone! However please be aware that there is still a 6 hour limit on a single Github Actions run, itself ← https://docs.github.com/en/actions/reference/limits'
          ;;
          *)
            echo 1>&2 'How did you get here? The `on:` section at the top of this file (.github/workflows/bookit.yml) has no entry for ' "${GITHUB_EVENT_NAME}"
            # man sysexits
            exit 78 # EX_CONFIG
          ;;
          esac

  pickleball_go:
    needs: time_zone_checker
    if: (github.event_name == 'workflow_dispatch') || (needs.time_zone_checker.outputs.localtime_current_hourstr == '11')
    # Otherwise, there is another `on: … schedule: …` cron line above that we can use instead... and we can safely skip this current run for now
    # ^^^ We are charged by the minute, and the free plan has only 2000 minutes per month, so no need to waste an entire hour waiting ← https://docs.github.com/en/get-started/learning-about-github/githubs-plans#github-free-for-personal-accounts

    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets#creating-secrets-for-an-environment
    environment: "Prod (Lifetime Activities Sunnyvale)"
    steps:
    - name: Checkout repository
      timeout-minutes: 4
      uses: actions/checkout@v6
    - name: Install Playwright
      timeout-minutes: 4
      run: sh i7-10810U_chatreey/dev-github/reinstall_playwright.sh
    - name: Book within 6 hours
      timeout-minutes: 30
      working-directory: ./i7-10810U_chatreey/app_courtreserve_com
      # [INVARIANT] If you get here, we're cleared to proceed. Run booking!!
      run: npx --no-install playwright test main/example.spec.ts
      env:
        U: ${{ secrets.ANTHONY }}
        P: ${{ secrets.LOGIN_PROD }}
        DEV_U: ${{ secrets.LOGIN_DEV }}
        DEV_P: ${{ secrets.DUMMYPW }}
    - name: Upload screenshots if available
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: screenshots-playwright
        path: |
          i7-10810U_chatreey/app_courtreserve_com/*.png
          i7-10810U_chatreey/app_courtreserve_com/test-results/example-try-booking-pickleball-chromium/*.png
        overwrite: true
        compression-level: 9
        retention-days: 11
        # [!IMPORTANT]
        # Always set retention-days (or else we'll run out of Github Actions space!!)


