name: Lifetime Activities

on:
  workflow_dispatch:
on:
  schedule:
    - cron: "57 11 * * 1"
    # run on Mondays to book the next Tuesday

jobs:
  pickleball:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/use-secrets#creating-secrets-for-an-environment
    environment: "Prod (Lifetime Activities Sunnyvale)"
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Install Playwright
      working-directory: ./i7-10810U_chatreey/app_courtreserve_com
      run: |
        if sudo -n -k echo 'this is most likely a Github-hosted runner, because I am able to sudo without a password, even after -k invalidates any existing credentials (and by setting STDIN to /dev/null it is impossible to enter another password)' < /dev/null; then
          npm ci # requires that we already `npm init playwright@1.56.0` at some point
          npx --no-install playwright install chromium
        else
          exit 69 # EX_UNAVAILABLE
        fi
    - name: Book within 24hrs
      working-directory: ./i7-10810U_chatreey/app_courtreserve_com
      run: npx --no-install playwright test main/example.spec.ts
      env:
        U: ${{ secrets.ANTHONY }}
        P: ${{ secrets.LOGIN_PROD }}
        DEV_U: ${{ secrets.LOGIN_DEV }}
        DEV_P: ${{ secrets.DUMMYPW }}
    - name: Upload screenshots if available
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: screenshots-playwright
        path: |
          i7-10810U_chatreey/app_courtreserve_com/*.png
          i7-10810U_chatreey/app_courtreserve_com/test-results/example-try-booking-pickleball-chromium/*.png
        overwrite: true
        compression-level: 9
        retention-days: 11
        # [!IMPORTANT]
        # Always set retention-days (or else we'll run out of Github Actions space!!)


